<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask User Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <div class="container">

        <!-- 管理User数据 -->
        <h1 class="title">User Manager</h1>
        <!-- 筛选User数据 -->
        <h2>Select User ID Range</h2>
        <form action="{{ url_for('index') }}" method="get">
            <div class="field">
                <div class="control">
                    <input class="input" type="number" name="min_id" value="{{ user_min_id }}" placeholder="Min ID"  title="min id" required>
                    <input class="input" type="number" name="max_id" value="{{ user_max_id }}" placeholder="Max ID"  title="max id" required>
                </div>
            </div>
            <div class="control">
                <button class="button is-link" type="submit">Filter Users</button>
                <a href="{{ url_for('index') }}" class="button is-light">Reset Filtering</a>
            </div>
        </form>
        <div style="height: 400px; overflow-y: scroll;">
            <!-- 展示User数据 -->
            <table class="table is-striped">
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Registered On</th>
                        <th>Group</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <!-- 表身 -->
                <tbody>
                    {% for user in users %}
                        {% set user_id = user.id %}
                        {% set registered_date = user.registered_on.strftime('%Y-%m-%d') %}
                        {% set user_group_id = user.group_id %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>  
                            <td>{{ registered_date }}</td>
                            <!-- <td>{{ user.group.name if user.group else 'None' }}</td> -->
                            <td>{{ user.group.name if user.group else 'None' }}</td>
                            <td id="actions">
                                <button class="button is-small is-info" onclick="openUserModal({{ user_id }}, '{{ user.name }}', '{{ registered_date }}', {{ user_group_id }}, 'edit')">Edit</button>
                                <button class="button is-small is-danger" onclick="deleteUser({{ user_id }})">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- 添加User数据 -->
        <button class="button is-primary" onclick="openUserModal(null, '', '', 0, 'add')">Add User</button>

        <!-- 管理Group数据 -->
        <h1 class="title">Group Manager</h1>
        <!-- 筛选Group数据 -->
        <h2>Select Group Create Date Range</h2>
        <form action="{{ url_for('index') }}" method="get">
            <div class="field">
                <div class="control">
                    <input class="input" type="date" name="start_date" value="{{ group_start_date }}" title="start date" required>
                    <input class="input" type="date" name="end_date" value="{{ group_end_date }}" title="end date" required>
                </div>
            </div>
            <div class="control">
                <button class="button is-link" type="submit">Filter Groups</button>
                <a href="{{ url_for('index') }}" class="button is-light">Reset Filtering</a>
            </div>
        </form>
        <div style="height: 400px; overflow-y: scroll;">
            <!-- 展示Group数据 -->
            <table class="table is-striped">
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Created On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <!-- 表身 -->
                <tbody>
                    {% for group in groups %}
                        {% set group_id = group.id %}
                        {% set created_date = group.created_on.strftime('%Y-%m-%d') %}
                        <tr>
                            <td>{{ group.id }}</td>
                            <td>{{ group.name }}</td>
                            <td>{{ created_date }}</td>
                            <td id="actions">
                                <!-- 注意匹配 openGroupModal，和 deleteGroup函数-->
                                <button class="button is-small is-info" onclick="openGroupModal({{ group_id }}, '{{ group.name }}', '{{ created_date }}', 'edit')">Edit</button>
                                <button class="button is-small is-danger" onclick="deleteGroup({{ group_id }})">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- 添加Group数据 -->
        <button class="button is-primary" onclick="openGroupModal(null, '', '', 'add')">Add Group</button>
    </div>

    <!-- 模态框 -->
    {% include 'user_modal.html' %}
    {% include 'group_modal.html' %}

    <!--主页脚本-->
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</body>
</html>