<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask User Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="container">
        <h1 class="title">User Manager</h1>
        <!-- 筛选User数据 -->
        <form id="userFilterForm" action="{{ url_for('index') }}" method="get">
            <div class="field-horizontal">
                <div class="field-vertical">
                    <!-- 根据id筛选 -->
                    <h2>Select User ID Range</h2>
                    <div class="control">
                        <label for="min_id">Min ID</label>
                        <!-- <input class="input" type="number" name="min_id" value="{{ user_min_id }}" placeholder="min id"  title="min id"> -->
                        <input class="input input-width-limited" type="number" name="min_id" value="{{ request.args.get('min_id', '') }}" placeholder="Min ID" title="put min user id here">
                    </div>
                    <div class="control">
                        <label for="max_id">Max ID</label>
                        <!-- <input class="input" type="number" name="max_id" value="{{ user_max_id }}" placeholder="max id"  title="max id"> -->
                        <input class="input input-width-limited" type="number" name="max_id" value="{{ request.args.get('max_id', '') }}" placeholder="Max ID" title="put max user id here">
                    </div>
                </div>
                <div class="field-vertical">
                    <!-- 根据group筛选 -->
                    <div class="control custom-dropdown">
                        <!-- 根据group筛选 -->
                        <button class="button is-link" type="button">Select Groups</button>
                        <div class="dropdown-content">
                            {% for group in groups %}
                                <label>
                                    <input type="checkbox" class= "group-checkbox" name="group_select" value="{{ group.id }}" {% if group.id in group_ids %}checked{% endif %}>
                                    {{ group.name }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="field-vertical">
                    <div class="control">
                        <h2>Select Group(s)</h2>
                        <div class="custom-dropdown">
                            <button type="button" class="dropdown-toggle">Select Groups</button>
                            <!-- 包装复选框列表，初始状态下隐藏 -->
                            <div class="custom-dropdown-menu">
                                {% for group in groups %}
                                    <label class="checkbox">
                                        <input type="checkbox" class="group-checkbox" name="group_select" value="{{ group.id }}" 
                                            {% if group.id in group_ids %}checked{% endif %}>
                                        {{ group.name }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field-horizontal">
                <div class="control">
                    <button class="button is-link" type="submit">Filter Users</button>
                    <a href="{{ url_for('index') }}" class="button is-light">Reset Filtering</a>
                </div>
            </div>
        </form>
        <!-- 展示User数据，限制高度，带滚动条 -->
        <div style="height: 400px; overflow-y: scroll;">
            <table class="table is-striped">
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th class="id-column">ID</th>
                        <th>Name</th>
                        <th class="date-column">Registered On</th>
                        <th>Group</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <!-- 表身 -->
                <tbody>
                    {% for user in users %}
                        {% set user_id = user.id %}
                        {% set registered_date = user.registered_on.strftime('%Y-%m-%d') %}
                        {% set user_group_id = user.group_id %}
                        <tr>
                            <td class="id-column">{{ user.id }}</td>
                            <td>{{ user.name }}</td>  
                            <td class="date-column">{{ registered_date }}</td>
                            <td>{{ user.user_group.name if user.user_group else 'None' }}</td>
                            <td id="actions">
                                <button class="button is-small is-info" onclick="openUserModal('{{ user_id }}', '{{ user.name }}', '{{ registered_date }}', '{{ user_group_id }}', 'edit')">Edit</button>
                                <button class="button is-small is-danger" onclick="deleteUser('{{ user_id }}')">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- 添加User数据 -->
        <button class="button is-primary" onclick="openUserModal(null, '', '', null, 'add')">Add User</button>

        <h1 class="title">Group Manager</h1>
        <!-- 筛选Group数据 -->
        <h2>Select Group Create Date Range</h2>
        <form id="group-filter-form" action="{{ url_for('index') }}" method="get">
            <div class="field-horizontal">
                <div class="field">
                    <div class="control">
                        <label for="start_date">Min ID</label>
                        <input class="input input-width-limited" type="date" name="start_date" title="input start date" required>
                    </div>
                    <div class="control">
                        <label for="end_date">Min ID</label>
                        <input class="input input-width-limited" type="date" name="end_date" title="input end date" required>
                    </div>
                </div>
            </div>
            <div class="field-horizontal">
                <div class="control">
                    <button class="button is-link" type="submit">Filter Groups</button>
                    <a href="{{ url_for('index') }}" class="button is-light">Reset Filtering</a>
                </div>
            </div>
        </form>
        <div style="height: 400px; overflow-y: scroll;">
            <!-- 展示Group数据 -->
            <table class="table is-striped">
                <!-- 表头 -->
                <thead>
                    <tr>
                        <th class="id-column">ID</th>
                        <th>Name</th>
                        <th class="date-column">Created On</th>
                        <th class="date-column">First Registration</th>
                        <th class="date-column">Last Registration</th>
                        <th>Last Register</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <!-- 表身 -->
                <tbody>
                    {% for group in groups %}
                        {% set group_id = group.id %}
                        {% set created_date = group.created_on.strftime('%Y-%m-%d') %}
                        <tr>
                            <td class="id-column">{{ group.id }}</td>
                            <td>{{ group.name }}</td>
                            <td class="date-column">{{ created_date }}</td>
                            <td class="date-column">{{ group.first_regist }}</td>
                            <td class="date-column">{{ group.last_regist }}</td>
                            <td>{{ group.last_register_name }}</td>
                            <td id="actions">
                                <!-- 注意匹配 openGroupModal，和 deleteGroup函数-->
                                <button class="button is-small is-info" onclick="openGroupModal('{{ group_id }}', '{{ group.name }}', '{{ created_date }}', 'edit')">Edit</button>
                                <button class="button is-small is-danger" onclick="deleteGroup('{{ group_id }}')">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- 添加Group数据 -->
        <button class="button is-primary" onclick="openGroupModal(null, '', '', 'add')">Add Group</button>

        <div class="field-horizontal">
            <!-- 文件上传表单 -->
            <form id="uploadForm" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <div class="field">
                    <label class="label">Upload CSV/XLSX File</label>
                    <div class="control">
                        <input class="input" type="file" name="file" accept=".csv, .xlsx" required>
                    </div>
                    <div class="control">
                        <button class="button is-link" type="submit">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- 模态框 -->
    {% include 'user_modal.html' %}
    {% include 'group_modal.html' %}

    <!--主页脚本-->
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</body>
</html>